<ion-header>
  <ion-navbar>
    <ion-title>QR and Barcode Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
      <button ion-button block (click)="openScanner()">Scan</button>
  </div>
  <ion-item-group>
    <ion-item-divider color="light">Scan History</ion-item-divider>
    <ion-item *ngFor="let scanHistory of shownScanHistory" (click)="copyToClipboard(scanHistory)">
      <ion-icon name="md-link" item-start *ngIf="scanHistory.type == 'Weblink'"></ion-icon>
      <ion-icon name="md-text" item-start *ngIf="scanHistory.type == 'Text'"></ion-icon>
      <ion-icon name="ios-barcode" item-start *ngIf="scanHistory.type == 'Product'"></ion-icon>
      <h2 ion-text color="black">{{scanHistory.type}}</h2>
      <h4 ion-text color="grey1">{{scanHistory.text}}</h4>
      <ion-icon name="ios-copy-outline" item-end></ion-icon>
    </ion-item>
    <ion-infinite-scroll *ngIf="isInfiniteScrollEnable" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-item-group>
</ion-content>
